* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cookieJar {
    background-color: rgb(247, 247, 158);
    color: black;
    max-width: 80%;
    overflow-wrap: break-word;
}


#taglineDelivered {
    color: #fed8dc;
    font-size: 1em;
    line-height: 1em;
    text-align: left;
    max-width: 450px;
}

#headerTitleBoxDiv {
    color: white;
    font-size: 2em;
    line-height: 1.2em;
    text-align: left;
    max-width: 450px;
    padding: 20px;

}

#headerSubTitleBoxDiv {
    color: white;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: left;
    max-width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px
}

#stripeButtonDiv {
    display: none;
    padding: 10px;
    justify-content: center;
    justify-self: center;
    align-self: center;
}




body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 238);
    overflow: scroll;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient(circle, rgba(16, 161, 229, .5), rgba(45, 200, 135, .5)), url(" ./assets/background-office-by-Bali-Demiri.jpg");
    background-size: cover;
    background-position: center;
}

ul {
    list-style-type: none;
}

.container {
    background-color: white;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    border-top: #20d5c5 0.5rem solid;
}

.logo-image {
    width: 180px;
    align-self: center;
    margin: 10px
}

h2 {
    margin: 1rem 0;
    font-weight: 300;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    font-size: 1.1rem;
}

.horizontalLabelDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

button {
    background-color: rgb(32, 213, 197);
    color: white;
    border: none;
    padding: 0.5rem;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.3rem;
    width: 70%;
    align-self: center;
    justify-self: center;
}

span a {
    text-decoration: none;
    color: rgb(16, 161, 229);
}



.private {
    width: 90vw;
    overflow-wrap: break-word;
    background-color: rgb(32, 213, 197);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%
}

.formStepHolder {
    width: 450px;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.644);
}

.dropdownSelector {

    width: 150px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    font-size: 1.1rem;
    display: inline-block;
    text-align: center;


}

.checkboxDiv {
    display: flex;
    align-items: center;
}


.textInputLabel {
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 120px;
    text-align: right;
}

.dropdownInputLabel {
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 100px;
    text-align: right;
}




.checkOptionLabel {
    float: inline-end;
    justify-self: center;
    padding-left: 5px;
}

.checkInputBox {
    color: rgb(255, 123, 0);
}


.private button {
    background-color: black;
    padding: 4px 4px;
    font-size: 1.6rem;
    border-radius: 2rem;
    width: 150px;
}

.buttonHolderDiv {
    display: inline;
    text-align: center;
    width: 100%
}

.prevButton {
    width: 33%;
    margin: 3px;
    display: inline-block;
    color: rgb(32, 213, 197);
    background-color: white;
    outline-style: solid;
    outline-width: 2px;
    outline: color(32, 213, 197);

}

.nextButton {
    width: 33%;
    margin: 3px;
    display: inline-block;
}

.previewSubmitButton {
    width: 33%;
    margin: 3px;
    display: inline-block;
    color: #f7256b;
    background-color: white;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #f7256b;
    font-weight: 600;
}

/* .submitButton {
    width: 40%;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    outline-color: rgb(32, 213, 197);
    ;
    color: rgb(32, 213, 197);
    outline-style: solid;
    font-weight: 500;
    outline-width: 3px;
    font-size: 18px;
} */

.stripeFormDiv {
    width: 40%
}

#stripeMonthlyButton {
    width: 80%;
    margin: 3px;
    display: inline-block;
    color: #f7256b;
    background-color: white;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #f7256b;
    font-weight: 600;


}

#stripeAnnualButton {
    width: 80%;
    margin: 3px;
    display: inline-block;
    color: #f7256b;
    background-color: white;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #f7256b;
    font-weight: 600;

}

#finalPrevButton {
    display: none;
}

#stripeCheckoutButtonsDiv {
    display: none;
}

#step1div {
    display: flex;

}

#step2div {
    display: none;

}

#step3div {
    display: none;
}

#step4div {
    display: none;
}

#step5div {
    display: none;
}

#step6div {
    display: none;
}

#LgDiv1Sub1Twitter {
    display: flex
}

#LgDiv1Sub2Insta {
    display: none
}

#LgDiv1Sub3News {
    display: none
}


#LgDiv2Sub1Twitter {
    display: flex
}

#LgDiv2Sub2Insta {
    display: none
}

#LgDiv2Sub3News {
    display: none
}


#LgDiv3Sub1Twitter {
    display: flex
}

#LgDiv3Sub2Insta {
    display: none
}

#LgDiv3Sub3News {
    display: none
}


#pdfPreviewHolderDiv {
    display: flex;
    align-items: center;
    justify-items: center;
}

#pdfPreviewDiv {
    width: 280px;
    height: 340px;
    padding-bottom: 20%;
    background-color: white;
    outline-style: solid;
    outline-width: 2px;
    outline-color: gray;
}

.pdfPreviewKey {
    color: black;
    padding-left: 3px;
    font-size: 14px;

}

.buttonHolder6Main {
    display: flex;
    width: 250px;
    padding: 0px;
    margin: 0px;

}

.formButtonHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formButtonHolderInnerDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.formButtonHolderOuterDivCol {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#formFooterDiv {
    max-width: 300px;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: rgb(56, 138, 110);
    margin: 20px;
}

#formFooterLogo {
    max-width: 200px;

}

.buttonSpacer {
    height: 15px
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;

}

#stepperBoxDiv {
    width: 400;
    height: 80;
    display: flex;
}


#footerBoxDiv {
    color: rgb(255, 0, 0);
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: center;
    max-width: 450px;
    padding: 20px;

}

.displayReport {
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    text-align: left;
    text-transform: lowercase;

    background-color: rgba(255, 255, 255, 0);
    outline-style: dashed;
    outline-color: rgba(255, 0, 0, 0);
    width: 60%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

}

.displaySubDivTitle {
    font-size: 16px;
    color: #f7256b;
    font-weight: 600;
    text-transform: lowercase;
}

.displaySubDiv {
    font-size: 14px;
    color: #f7256b;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    outline-style: dashed;
    outline-width: 2px;
    outline-color: #000000;
    text-transform: lowercase;
}